@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;

.default {
    --svg-size: 18px;
    --py: 10px;
    --px: 16px;

    position: relative;
    cursor: pointer;

    padding: var(--py) var(--px);
    border-radius: $border-radius;

    transition: $transition-smooth;

    color: var(--text-primary);

    &:hover:not(:disabled) {
        transform: translateY(-1px);

        & .content svg {
            transform: scale(1.1);
        }
    }

    &:active:not(:disabled) {
        transform: translateY(1px);

        & .content svg {
            transform: scale(0.9);
        }
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:disabled[data-loading] {
        cursor: wait;
    }
}

.button--s {
    @include ui(sm);

    --py: 6px;
    --px: 10px;

    --svg-size: 14px;
}

.button--m {
    @include ui(base);
}

.button--l {
    @include ui(md);

    --py: 12px;
    --px: 20px;

    --svg-size: 22px;
}

.primary {
    position: relative;

    background-color: var(--accent-base);
    color: #fff;

    overflow: hidden;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    &:hover:not(:disabled) {
        background-color: var(--accent-hover);

        box-shadow: 0 2px 6px 8px var(--accent-fog);
    }

    &:active:not(:disabled) {
        background-color: var(--accent-active);
        box-shadow: 0 1px 6px 8px var(--accent-fog);
    }

    &:disabled {
        color: #fff;
    }

    & .loader::after {
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-top-color: #fff;
    }

    & .content svg {
        color: #fff;
        stroke: #fff;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;

        background: linear-gradient(
            0deg,
            transparent 20%,
            rgba(255, 255, 255, 0.5) 50%,
            transparent 80%
        );
        background-size: 100% 200%;
        background-position: 0 0;

        filter: blur(8px);
        opacity: 0.9;

        pointer-events: none;
        transition: $transition-smooth;
    }

    &:hover:not(:disabled)::after {
        opacity: 0.6;

        background-position: 0 100%;
    }

    &:active:not(:disabled)::after {
        opacity: 0.4;

        background-position: 0 50%;
    }
}

.secondary {
    background-color: transparent;

    border: 1px solid var(--accent-fog);
    box-shadow: 0 1px 2px 0 var(--accent-fog);

    &:hover:not(:disabled) {
        border-color: var(--accent-hover);

        box-shadow: 0 2px 12px 8px var(--accent-fog);

        & .content svg {
            color: var(--accent-hover);
            stroke: var(--accent-hover);
        }
    }

    &:active:not(:disabled) {
        border-color: var(--accent-active);

        box-shadow:
            0 2px 4px var(--accent-fog),
            inset 0 0 6px 3px var(--accent-fog);

        & .content svg {
            color: var(--accent-active);
            stroke: var(--accent-active);
        }
    }

    &:disabled {
        color: var(--accent-fog);
        border-color: var(--accent-fog);
    }

    & .loader::after {
        border: 2px solid var(--accent-fog);
        border-top-color: var(--accent-base);
    }

    & .content svg {
        color: var(--accent-fog);
        stroke: var(--accent-fog);
    }
}

.error {
    position: relative;

    background-color: $error;
    color: #fff;

    overflow: hidden;

    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);

    &:hover:not(:disabled) {
        background-color: $error-hover;

        box-shadow: 0 2px 12px 4px $error-fog;
    }

    &:active:not(:disabled) {
        background-color: $error-active;
        box-shadow: 0 1px 8px 2px $error-fog;
    }

    &:disabled {
        color: #fff;
    }

    & .loader::after {
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-top-color: #fff;
    }

    & .content svg {
        color: #fff;
    }

    &::after {
        content: '';
        position: absolute;
        inset: 0;

        background: linear-gradient(
            0deg,
            transparent 20%,
            rgba(255, 255, 255, 0.5) 50%,
            transparent 80%
        );
        background-size: 100% 200%;
        background-position: 0 0;

        filter: blur(8px);
        opacity: 0.9;

        pointer-events: none;
        transition: $transition-smooth;
    }

    &:hover:not(:disabled)::after {
        opacity: 0.6;

        background-position: 0 100%;
    }

    &:active:not(:disabled)::after {
        opacity: 0.4;

        background-position: 0 50%;
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    & svg {
        transition: $transition-smooth;

        width: var(--svg-size);
        height: var(--svg-size);
    }
}

.hidden {
    opacity: 0;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader::after {
    content: '';
    display: block;

    border-radius: 50%;

    width: var(--svg-size);
    height: var(--svg-size);

    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
