$error: rgb(240, 86, 86);
$error-hover: rgba(240, 86, 86, 0.822);
$error-active: rgba(240, 86, 86, 0.699);
$error-fog: rgba(255, 26, 26, 0.205);
$warning: rgb(220, 176, 72);
$success: rgb(58, 191, 89);
$success-hover: rgb(51, 170, 79);
$success-active: rgb(43, 145, 67);
$success-fog: rgba(58, 191, 89, 0.2);
