@use '@/styles/typography' as *;
@use '@/styles/variables' as *;

@mixin container() {
    max-width: 1280px;

    margin: 0 auto;
    padding-inline: 16px;
}

@mixin glassBg() {
    background: rgba(255, 255, 255, 0.415);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    
    :root[data-theme='dark'] & {
        background: rgba(55, 55, 55, 0.48);
        backdrop-filter: blur(7.5px);
        -webkit-backdrop-filter: blur(7.5px);
    }
}

@mixin link() {
    @include ui();

    color: var(--accent-base);
    text-decoration: underline;

    transform: scale(1);

    transition: $transition-smooth;

    &:hover {
       color: var(--accent-hover); 
       transform: scale(1.01);
    }

    &:active {
        color: var(--accent-active);
        transform: scale(0.989);
    }
}

@mixin bgModal() {
    position: fixed;
    top: 0;
    opacity: 0;

    background-color: var(--bg-fog);
    backdrop-filter: blur(3px);

    width: 100dvw;
    height: 100dvh;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: open 0.2s ease-in-out 0.1s forwards;
}

@keyframes open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin bgModalClose {
    animation: close 0.2s ease-in-out forwards;
}

@keyframes close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
