:root {
    --bg-primary: #f8f8f8;
    --bg-secondary: #ffffff;
    --bg-fog: #14141473;

    --text-primary: #333333;
    --text-secondary: #6e6e6e;

    --border-color: #c7cacd;

    // base source
    --accent: 67, 135, 243;

    // derived
    --accent-base: rgba(var(--accent));
    --accent-hover: rgba(var(--accent), 0.9);
    --accent-active: rgba(var(--accent), 0.75);
    --accent-fog: rgba(var(--accent), 0.15);
}

:root[data-theme='dark'] {
    --bg-primary: #111010;
    --bg-secondary: #181717;

    --text-primary: #e4e4e4;
    --text-secondary: #9ca3af;

    --border-color: #2c3034;

    // --accent-fog: #202835;
}

:root[data-accent='lavender'] {
    --accent: 167, 139, 250;
}

:root[data-accent='red'] {
    --accent: 200, 70, 70;
}

:root[data-accent='purple'] {
    --accent: 140, 110, 241;
}

:root[data-accent='green'] {
    --accent: 72, 209, 93;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-primary);
}
