@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.chats__tab {
    @include fadeIn();

    &--search {
        &-container {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 100;

            @include telegramGlassFade($fade-depth: 24px, $blur: 4px);

            display: flex;
            justify-content: space-between;
            gap: 8px;
            width: 100%;

            padding: calc(16px + env(safe-area-inset-top)) 16px 12px;
        }

        &-input {
            width: 100%;
        }

        &-icon {
            width: 20px;
            height: 20px;

            stroke: var(--accent-fog);

            transition: $transition-smooth;

            &:hover {
                stroke: var(--accent-hover);
            }

            &:active {
                stroke: var(--accent-active);
            }
        }

        &-button {
            height: fit-content;

            border-radius: 50% !important;
            padding: 3px 4px;

            &_icon {
                width: 24px !important;
                height: 24px !important;
            }
        }
    }
    &--list {
        padding-bottom: 88px;
    }
}
