@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.auth {
    height: 100dvh;

    &__header {
        @include glassBg();

        border-bottom: 1px solid var(--accent-fog);
        width: 100%;

        &--container {
            @include container();

            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            padding-block: 24px;
        }

        &--title {
            @include heading(h1);

            color: var(--text-primary);
        }
    }

    &__section-container {
        @include container();
        position: relative;
        padding-block: 32px;
    }

    &__section-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-image: url('../../assets//img//bg_light.png');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.1;
    }
}
