@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.auth {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    &__header {
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;

        @include glassBg(3.7px);

        html[data-theme='dark'] & {
            @include glassBg(6px);
        }


        background: transparent;

        border-bottom: 1px solid var(--border-color);
        width: 100%;

        &--container {
            @include container();

            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            padding-block: max(14px, env(safe-area-inset-top)) 14px;
        }

        &--title {
            @include heading(h1);

            color: var(--text-primary);
        }
    }

    &__section-container {
        @include container();

        display: flex;
        flex: 1;
        align-items: center;
        width: 100%;
        position: relative;
        padding-block: clamp(32px, 8vh, 72px);
    }

    &__section-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        background-image: url('../../assets//img//bg_light.png');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.15;
    }
}
