@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.sidebar {
    position: relative;
    
    width: 360px;
    
    flex-shrink: 0;
    border-right: 1px solid var(--border-color);
    background: var(--bg-secondary);
    
    &__container {
        height: 100dvh;
        max-height: 100dvh;
        overflow-y: auto;
    }
}
