@use '@/styles/typography' as *;
@use '@/styles/colors' as *;
@use '@/styles/variables' as *;
@use '@/styles/mixins' as *;

.sidebar {
    @include glassBg(24px);

    background: var(--bg-secondary);
    position: relative;
    
    width: 360px;
    
    flex-shrink: 0;
    border: none;
    border-right: 1px solid var(--border-color);

    &__container {
        height: 100dvh;
        max-height: 100dvh;
        overflow-y: auto;
    }
}
